.m-container .image-container>img{

 width: 700px ;
 border-radius: 30px;
 margin-left: 50px;
}

.m-container>div{
    flex: 1;
  
}

.m-container{
    background: rgb(255, 255, 255);
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordionItem{
    background: rgb(246, 245, 245);
    border: 0.8px solid rgba(128, 128, 128, 0.143 );
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 1;

}



.accordionButton{
    background: rgb(29, 26, 26);
    padding: 1.3rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.accordionButton .icon svg{
color: rgb(255, 255, 255);
}

.accordionButton .primarytext{
    font-size: 10rem;
}

@media (max-width:1340px) {

    .image-container>iframe{
     width: 460px;
       height: 250px;
    }

.accordionButton{
    background: rgb(29, 26, 26);
    width: 100%;
    padding: 1.3rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
   
}
    .accordionButton .whitetext{
        font-size: 1rem;
    }


    
}
@media (max-width:1100px) {
    .image-container>iframe{
     width: 420px;
       height: 250px;
    }
    .accordion{
      font-size: 2rem;
    }
    
}

@media (max-width:680px) {

    .image-container>iframe{
     width: 380px;
       height: 250px;
    }
    .accordionButton{
        background: rgb(29, 26, 26);
        width: 100%;
        padding: 0.7rem;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
    }
.m-right .thirdtext{
    font-size: 1.1rem;
}
.m-right .primarytext{
    font-size: 1.5rem;
}
.m-right .secondarytext{
    font-size: 0.88rem;
}

.accordionButton .icon{
    font-size: 1.1rem;
}

.m-right{
    margin-left: 25px;
}
.m-left{
    margin-left: 25px;
}
}